/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/wombat -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    fasta = "$projectDir/test_data/ABRF_iPRG_2012_target.fasta"
    raws = ["$projectDir/test_data/OVEMB150205_12.raw","$projectDir/test_data/OVEMB150205_14.raw"]
    //sdrf = "$projectDir/test_data/sdrf_test.tsv"
    exp_design = "$projectDir/test_data/exp_design.txt"
    parameters = "$projectDir/test_data/test_params.yml"
    run_statistics = true
    workflow = "all"
}
