manifest {
	name = 'COSIFER - COnSensus Interaction Network InFErence Workflow'
	homePage = 'https://github.com/inab/ipc_workflows/tree/main/cosifer/nextflow'
	defaultBranch = 'master'
	mainScript = 'nextflow.nf'
	nextflowVersion = '>=19.10.0'
}

params {
    data_matrix = "${baseDir}/test/data_matrix.csv"
    outputsDir = "${baseDir}/test/results/"
    index_col = ""
    hallmark_gene_sets_file = ""
    sep = "\t"
    samples_on_rows = ""
}

docker {
  runOptions='-u $(id -u):$(id -g)'
  enabled = true
}
